$neat-grid: (
  columns: 12,
  gutter: 15px,
);

.container {
  border: 5px solid blue;
  @include grid-container;
  @include tablet {

    // background-color: black;
  }
}



.video-wrapper {
  border: 1px solid green;
  margin: auto;
  @include grid-column (12);
  // remember that any width will be cancelled out by the calculated width of the column

  @include tablet {
    @include grid-column(6);
  }

  @include desktop {
    @include grid-column(6);
  }
}

.video {
  padding: 5px;
}

.article-wrapper {
  @include grid-column(12);
  @include tablet {
    @include grid-column(6);
  }
}

.article {
  border: 2px solid pink;
  padding: 10px;
  @include clearfix;
  // @include size(auto 300px);
  @include tablet {
    height: 161px;
  }
}

.article img {
  border: 1px dashed grey;
  float: left;
  @include size (50% auto);
  @include tablet {
    width: 25%;
  }
}

.article h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  @include tablet {
    color: white;
  }
}

.article p {
  border: 1px dashed grey;
  float: left;
  width: 50%;
  padding: 8px;
  margin: 0;
  @include tablet {
    width: 75%;
    color: white;
  }
}

.article:first-child {
  border: 4px dashed yellow;
}

.article:nth-child(2) {
  border: 4px dashed green;
}

.article:nth-child(3) {
  border: 4px dashed red;
}

.article:nth-child(4) {
  border: 4px dashed brown;
}
