$neat-grid: (
  columns: 12,
  gutter: 15px,
);

.container {
  margin-top: 5px;
  @include grid-container;
  @include tablet {

    // background-color: black;
  }
}



.video-wrapper {
  margin: auto;
  @include grid-column (12);
  // remember that any width will be cancelled out by the calculated width of the column

  @include tablet {
    @include grid-column(6);
  }

  @include desktop {
    @include grid-column(6);
  }
}

.video {
  padding: 5px;
}

#video {
  width: 100%;

}

.article-wrapper {
  @include grid-column(12);
  @include tablet {
    @include grid-column(6);
  }
}

.article {
  padding: 10px;
  @include clearfix;
  // @include size(auto 300px);
  @include tablet {
    height: 161px;
  }
}

.article img {
  float: left;
  @include size (50% auto);
  @include tablet {
    width: 25%;
  }
}

.article h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  @include tablet {
    color: white;
  }
}

.article p {
  float: left;
  width: 50%;
  padding: 8px;
  margin: 0;
  @include tablet {
    width: 75%;
    color: white;
  }
}

.featured {
  @extend .article;
  @include tablet {
    background-color: white;
    border: 4px solid $mobb-purple;
  }
}

.featured p {
  @include tablet{
    color: black;

  }
}
