$neat-grid: (
  columns: 12,
  gutter: 0px,
);

.container {
  border: 1px solid blue;
  @include grid-container;
  @include tablet {

    // background-color: black;
  }
}

.row {
  border: 1px solid red;
  @include grid-column(12);
  // margin: 5px auto;
}


.featured {
  border: 1px solid green;
  margin: auto;
  @include grid-column (12);
  // remember that any width will be cancelled out by the calculated width of the column

  @include tablet {
    @include grid-column(6);
  }

  @include desktop {
    @include grid-column(6);
  }
}

.article {
  border: 2px solid pink;
  padding: 10px;
  @include clearfix;
  // @include size(auto 300px);
  @include grid-column(12);
  @include tablet {
    @include grid-column(6);
  }
}

.article img {
  border: 1px dashed grey;
  float: left;
  @include size (50% auto);
}

.article h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.article p {
  border: 1px dashed grey;
  float: left;
  width: 50%;
  padding: 8px;
  margin: 0;
  @include tablet {

  }
}
