$my-custom-grid: (
  columns: 12,
  gutter: 0px,
);

.container {
  border: 1px solid blue;
  background-color: black;
  @include grid-container;
}

.row {
  border: 1px solid red;
  @include grid-column(12, $my-custom-grid);//my custom grid has no gutters so the video stretches to the edge of the viewport (on mobile)
}


.featured {
  border: 1px solid green;
  margin: 10px auto;
  @include grid-column (12);
  // remember that any width will be cancelled out by the calculated width of the column

  @include tablet {//sass media query: at tablet size, columns will be 3 units wide, or 4-to-a-row
    @include grid-column(6);
  }

  @include desktop { //at desktop size, columns will be 4 units wide, or 3-to-a-row
    @include grid-column(6);
  }
}

.article {

}
