// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include tablet {
    background-color: black;
  }
  @include desktop {
    background-color: black;
  }
}

a:link {
  text-decoration: none;
  color: $mobb-purple;
}

// a:visited {
//   text-decoration: underline;
//   color: $mobb-orange;
// }

a:hover {
  text-decoration: underline;
  color: $mobb-orange;
}
